// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.badge-lg {
    font-size: 1.0rem;
}

.banner-fixed{
    min-height: 500px; 
    color: white; 
    text-align:center;
    background-attachment: fixed;
}